/* Mandatory Classes  */

.test {
  width: 400px;
  height: 200px;
  display: flex;
  border-radius: 5px 5px 5px 5px;
  flex-direction: column;
  position: absolute;
  overflow: hidden;
}
.test-header {
  min-height: 2rem;
  background-color: #9bd1de;
  height: 30px;
  margin: 0;
}

.test-body {
  padding: 1em;
  height: 100%;
  background-color: #a6dce9;
  overflow: auto;
}

/* Optional Classes  */
.test-header-content {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.sticky-textarea {
  height: 100%;
  width: 100%;
}
textarea:focus {
  background-color: inherit;
  outline: none;
  width: 100%;
  height: 100%;
}
.test-body textarea {
  background-color: inherit;
  border: none;
  width: 100%;
  height: 100%;
  resize: none;
  font-size: 16px;
}
