.left_ul {
  display: flex;
  align-items: center;
  list-style: none;
  height: 100%;
}
.left_ul > li:first-child > span {
  font-weight: 700;
}

.left_ul > li {
  align-self: center;
  height: 100%;
  margin: 0 -3px;
}

.left_ul > li > span {
  font-size: 13px;
  font-weight: bold;
  padding: 5px 13px;
  cursor: pointer;
  /* background-color: aqua; */
}
.left_ul > li > span:hover {
  background-color: rgba(213, 213, 206, 0.5);
  border-radius: 3px;
}

/* .submenuPrimary span {
  font-size: 11px;
  color: #797979;
  background: rgba(0, 0, 0, 0.05);
  padding: 2px 4px;
  border-radius: 8.5px;
} */
/* .li {
  display: flex;
  height: 100%;
  padding: 0 0.3rem;
  justify-content: space-between;
  align-items: center;
}
.p {
  font-size: 13px;
  cursor: pointer;
} */

/* .right_ul {
  display: flex;
  align-items: center;
  list-style: none;
  height: 100%;
}

.right_ul > li {
  height: 100%;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}

.right_ul > li > img {
  width: 26px;
  height: 26px;
}

.date {
  margin-left: 5px;
} */

/* Base styles for all menus */
/* .leftUl {
    list-style: none;
    padding: 0;
    margin: 0;
  } */

/* Primary horizontal menu */
/* .menuPrimary {
  } */

/* First level dropdowns */
/* .menuSubmenu {
    position: absolute;
    background-color: #444;
    top: 100%;
    left: 0;
  } */

/* Further nested submenus */
/* .menuSubmenuNested {
    position: absolute;
    background-color: #555;
    top: 0;
    left: 100%;
  } */
.submenuPrimary {
  position: relative;
  list-style: none;
  height: 289.15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 4px;
}
.li {
  display: flex;
  height: 100%;
  padding: 0 0.3rem;
  justify-content: space-between;
  align-items: center;
}
.submenuPrimary .p {
  font-size: 13px;
  cursor: pointer;
}
